.logging-container {
  width: 60%;
  margin: auto;
  margin-top: 10rem;
}

.logging-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  margin: auto;
}

.logging-input-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.button-newsletter-login {
  margin-top: 0;
}
.logging-container {
  text-align: center;
  img {
    margin-bottom: 2rem;
    max-width: 40% !important;
  }
}
