@import "../../generalStyles/colors/colors.scss";
.aboutUsNew-container {
  width: 100%;
}
.aboutUsNew-header-container {
  padding-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  max-height: 1020px;
  border-radius: 0 0 60% 0 / 60%;
  background-color: #2f512a;
}
.aboutUsNew-header-text-container {
  width: 50%;
  margin-top: 2rem;
}
.aboutUsNew-header-image-container {
  width: 50%;
}
.aboutUsNew-header-image {
  margin: auto;
  width: 60%;
  min-height: 500px;
  background-image: (url(../../../assets/images/about_us_image.jpg));
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: 10%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.aboutUsNew-header-text {
  margin: auto;
  text-align: left;
  width: 70%;
  color: white;
  margin-bottom: 2rem;
  span {
    font-size: 1.3rem;
    font-weight: 300;
  }
}
.aboutUsNew-header-text-title {
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 1.2px;
  color: white;
}

.aboutUsNew-header-text-subtitle {
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
  font-weight: 400;
}
.aboutUsNew-statistics-text-container {
  width: 50%;
  text-align: left;
  margin: auto;
  margin-bottom: 4rem;
  text-align: center;
}
.aboutUsNew-statistics-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // gap: 2rem;
  // margin-top: 2rem;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, calc(40% - 15px));
  grid-gap: 25px;
  margin-bottom: 10rem;
  justify-content: center;
  margin: auto;
}
.aboutUsNew-statistics-detail {
  width: 80%;
  margin: auto;
  margin-top: 6rem;
}
.aboutUsNew-statistic {
  background-color: $base-green;
  color: white;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  letter-spacing: 1.2px;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  i {
    color: white;
    margin-bottom: 0.5rem;
  }
  h1 {
    font-weight: 700;
  }
  h3 {
    font-weight: 700;
  }
}
.aboutUsNew-lecturers-container {
  width: 50%;
  margin: auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutUsNew-lecturers-image-container {
  max-height: 600px;
}
.aboutUsNew-lecturer-image {
  margin: auto;
  height: 500px;
  border-radius: 10%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.aboutUsNew-lecturers-text-container {
  width: 50%;
  margin-top: 4rem;
  text-align: center;
  h1 {
    margin-bottom: 2rem;
  }
}

.aboutUsNew-companies-container {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutUsNew-companies-text-container {
  width: 50%;
  text-align: left;
  margin-bottom: 4rem;
  h1 {
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.aboutUsNew-companies-images-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6rem;
  margin-top: 8rem;
  float: right;
  margin-bottom: 4rem;
}
.aboutUsNew-companies-carousel-container {
  width: 60%;
  margin: auto;
  padding: 1rem;
}
@media only screen and (max-width: 1440px) {
  .aboutUsNew-header-image {
    width: 80%;
  }
  .aboutUsNew-lecturers-container {
    width: 90%;
  }
}
@media only screen and (max-width: 1230px) {
  .aboutUsNew-header-image-container {
    margin: auto;
  }
  .aboutUsNew-header-image {
    width: 90%;
  }
  .aboutUsNew-header-text {
    width: 90%;
  }
  .aboutUsNew-statistics-text-container {
    width: 80%;
  }
  .aboutUsNew-statistics-container {
    float: none;
    width: 90%;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(4, 30%);
    grid-gap: 25px;
  }
  .aboutUsNew-lecturer-image {
    max-height: 600px;
  }
  .aboutUsNew-companies-container {
    width: 90%;
  }
  .aboutUsNew-companies-images-container {
    width: 80%;
    justify-content: flex-end;
    gap: 4rem;
  }
}

@media only screen and (max-width: 1020px) {
  .aboutUsNew-header-container {
    border-radius: 0;
    flex-direction: column;
  }
  .aboutUsNew-header-text-container {
    width: 80%;
    margin: auto;
  }
  .aboutUsNew-header-text {
    text-align: center;
  }
  .aboutUsNew-header-image-container {
    width: 100%;
    background: linear-gradient(180deg, $base-green 50%, white 50%);
  }
  .aboutUsNew-header-image {
    width: 80%;
    min-height: 350px;
    border-radius: 15px;
  }
  .aboutUsNew-statistics-text-container {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
  }
  .aboutUsNew-statistics-container {
    width: 80%;
    grid-template-columns: repeat(2, 60%);
  }
  .aboutUsNew-lecturers-container {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 8rem;
  }
  .flex-reverse {
    flex-direction: column-reverse;
  }
  .aboutUsNew-lecturers-image-container {
    margin: auto;
  }
  .aboutUsNew-lecturer-image {
    max-height: 500px;
    margin: auto;
  }
  .aboutUsNew-lecturers-text-container {
    margin: auto;
    width: 80%;
  }
  .aboutUsNew-lecturers-text-container h1 {
    margin-top: 2rem;
  }
  .aboutUsNew-companies-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
  }
  .aboutUsNew-companies-text-container {
    margin: auto;
    width: 60%;
    text-align: center;
  }
  .aboutUsNew-companies-images-container {
    margin-top: 4rem;
    justify-content: center;
    width: 100%;
  }
  .aboutUsNew-companies-carousel-container {
    width: 80%;
  }
}
@media only screen and (max-width: 680px) {
  .aboutUsNew-statistics-container {
    grid-template-columns: repeat(1, 100%);
  }
  .aboutUsNew-header-container {
    max-height: 100%;
  }
  .aboutUsNew-header-image {
    width: 90%;
  }
  .aboutUsNew-header-text-container {
    width: 90%;
  }
  .aboutUsNew-statistics-text-container {
    width: 90%;
  }
  .aboutUsNew-statistics-container {
    width: 90%;
  }
  .aboutUsNew-statistics-detail {
    width: 100%;
  }
  .aboutUsNew-header-text-container {
    width: 100%;
  }
  .aboutUsNew-lecturer-image {
    max-height: 400px;
  }
  .aboutUsNew-lecturers-container {
    width: 90%;
  }
  .aboutUsNew-lecturers-text-container {
    width: 90%;
  }
  .aboutUsNew-companies-text-container {
    width: 90%;
  }
  .aboutUsNew-companies-carousel-container {
    width: 100%;
  }
  .aboutUsNew-companies-container {
    width: 90%;
  }
}

@media only screen and (max-width: 460px) {
  .aboutUsNew-companies-images-container {
    flex-direction: column;
    width: 50%;
  }
}
//https://nicepage.com/html-templates?term=companies+logos
