.input-type-radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  z-index: 1;
  label {
    margin: auto;
  }
  input {
    margin: auto;
  }
}
.addNews-container {
  margin-top: 2rem;
}
.input-title-container {
  display: flex;
  flex-direction: column;
  p {
    color: #707070;
  }
  input {
    margin: auto;
    margin-bottom: auto;
    min-height: 30px;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    width: min(80vw, 400px);
  }
}
.contact-message-container-admin {
  width: 80%;
  margin: auto;
  margin-top: auto;
  margin-top: 4rem;
  text-align: center;
}

.contact-select-container {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  select {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    list-style: none;
    width: min(80vw, 400px);
    text-align: center;
  }
}

.image-container-news {
  margin: auto;
  margin-top: 2rem;
  img {
    width: 40vw;
    height: 40vh;
    min-height: 350px;
    min-width: 350px;
  }
}

.textarea-container-admin {
  textarea {
    width: min(80vw, 800px);
    min-height: min(20vh, 400px);
  }
}
