.text-title-text {
  color: white !important;
  font-size: 3.5rem;
  font-weight: 400;
  text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}

.text-tittle-button-text {
  color: white;
  font-size: 2rem;
  margin: 1rem;
  text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.text-image-description-green {
  margin-top: 0.5rem;
  color: #2f512a;
  font-size: 3rem;
}

.text-image-description-subtext {
  margin-top: 0.2rem;
  font-size: 1rem;
}

.text-posts-title-text {
  font-weight: 400;
  font-size: 3.5rem;
}

.text-color-green {
  color: #2f512a;
}

.text-quote-text {
  font-size: 3rem;
  margin-bottom: 0.6rem;
}

.text-quote-description {
  font-size: 1rem;
}

.text-category-title {
  color: white;
  font-size: 2rem;
}

.text-category-titleB {
  font-size: 2rem;
}

.newsletter-text-container {
  font-size: 2rem;
}

@media only screen and (max-width: 1020px) {
  .text-title-text {
    font-size: 2rem !important;
  }

  .text-quote-text {
    font-size: 2rem;
  }

  .text-quote-description {
    font-size: 0.8rem;
  }

  .newsletter-text-container {
    font-size: 1.5rem;
  }
}
.text-title-text {
  color: white !important;
  font-size: 3.5rem;
  font-weight: 400;
  text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}

.text-tittle-button-text {
  color: white;
  font-size: 2rem;
  margin: 1rem;
  text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.text-image-description-green {
  margin-top: 0.5rem;
  color: #2f512a;
  font-size: 3rem;
}

.text-image-description-subtext {
  margin-top: 0.2rem;
  font-size: 1rem;
}

.text-posts-title-text {
  font-weight: 400;
  font-size: 3.5rem;
}

.text-color-green {
  color: #2f512a;
}

.text-quote-text {
  font-size: 3rem;
  margin-bottom: 0.6rem;
}

.text-quote-description {
  font-size: 1rem;
}

.text-category-title {
  color: white;
  font-size: 2rem;
}

.text-category-titleB {
  font-size: 2rem;
}

.newsletter-text-container {
  font-size: 2rem;
}

@media only screen and (max-width: 1020px) {
  .text-title-text {
    font-size: 2rem !important;
  }

  .text-quote-text {
    font-size: 2rem;
  }

  .text-quote-description {
    font-size: 0.8rem;
  }

  .newsletter-text-container {
    font-size: 1.5rem;
  }
}
button {
  cursor: pointer;
}

.text-title-button-green {
  background-color: #2f512a;
  width: 30%;
  border-radius: 15px;
  margin-top: 2rem;
  min-width: 300px;
}

.button-category {
  background-color: white;
  color: #2f512a;
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  box-shadow: 10px 10px 10px #2b2929;
  width: 60%;
}

.button-categoryB {
  background-color: white;
  color: #2f512a;
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  box-shadow: 10px 10px 10px #a79595;
  border: 4px solid #2f512a;
  width: 60%;
}

.text-post-button-green {
  background-color: #2f512a;
  color: white;
  box-shadow: 10px 10px 10px #141313;
  border-radius: 5px;
  width: 30%;
  min-height: 30px;
  font-size: 1rem;
}

.button-ofert {
  background-color: #2f512a;
  color: white;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #b1a7a7;
  min-height: 60px !important;
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
}

.button-program {
  background-color: inherit;
  margin-top: 0.5rem;
  border: none;
}

.button-newsletter {
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
  background-color: #2f512a;
  color: white;
  font-weight: 500 !important;
  border-radius: 15px;
  font-size: 1.5rem !important;
  padding: 0.5rem;
}

@media only screen and (max-width: 1628px) {
  .button-ofert {
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media only screen and (max-width: 900px) {
  .text-title-button-green {
    width: 80%;
  }

  .text-post-button-green {
    width: 30%;
  }

  .button-categoryB {
    width: 80%;
  }

  .button-category {
    width: 80%;
  }

  .button-ofert {
    margin: 0.5rem !important;
    padding: 1.5rem !important;
  }

  .ofert-container {
    padding: 1rem !important;
  }
}
@media only screen and (max-width: 400px) {
  .text-title-button-green {
    width: 40%;
    min-width: 200px;
  }

  .text-post-button-green {
    width: 60%;
  }

  .button-newsletter {
    width: 80%;
  }
}
.category-containerB {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 10px 10px 10px #887e7e;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #2f512a;
  border-radius: 25px;
  justify-content: space-evenly;
  text-align: center;
  width: 40%;
  height: 20vh;
  min-height: 200px;
  min-width: 300px;
}

.category-imageB {
  width: 100%;
  height: 100%;
}

.category-image-containerB {
  text-align: left;
  width: 40%;
}

.category-text-containerB {
  text-align: center;
  margin: auto 0.5rem auto 0.5rem;
  width: 60%;
}

@media only screen and (max-width: 1216px) {
  .category-containerB {
    width: 80%;
    margin: auto;
  }

  .category-image-containerB {
    width: 40%;
  }

  .category-containerB {
    height: 25vh;
  }
}
@media only screen and (max-width: 600px) {
  .category-containerB {
    width: 100%;
    margin: auto;
  }

  .category-text-containerB {
    width: 100%;
  }

  .category-containerB {
    height: 20vh;
  }
}
@media only screen and (max-width: 900px) {
  .category-containerB {
    width: 90%;
  }
}/*# sourceMappingURL=CategoryB.css.map */