@import "../colors/colors.scss";
button {
  cursor: pointer;
  border: none;
  &:active {
    transform: translateY(-2px);
  }
}
.text-title-button-green {
  background-color: inherit;
  width: 30%;
  border-radius: 20px;
  margin-top: 2rem;
  min-width: 300px;
  padding: 10px 20px;
  //color: #212121;
  z-index: 1;
  // position: relative;
  //font-weight: 1000;
  //font-size: 17px;
  //-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  //box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  //border: 4px solid white;
  border: 4px solid white;
  background-color: inherit;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 0;
  //   border-radius: 15px;
  //   background-color: $base-green;
  //   z-index: -1;
  //   -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  //   box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  //   transition: all 250ms;
  // }
  &:hover,
  &:active {
    color: $base-green;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transform: scale(1.1);
  }
  // &:hover::before,
  // &:active::before {
  //   width: 100%;
  // }
}

.button-category {
  background-color: white;
  color: $base-green;
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  box-shadow: 10px 10px 10px #2b2929;
  width: 60%;
}
.button-categoryB {
  background-color: white;
  color: $base-green;
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  box-shadow: 10px 10px 10px #a79595;
  border: 4px solid $base-green;
  width: 60%;
}
.text-post-button-green {
  background-color: $base-green;
  color: white;
  box-shadow: 10px 10px 10px #141313;
  border-radius: 5px;
  width: 30%;
  min-height: 30px;
  font-size: 1rem;
}

.button-oferts {
  background-color: $base-green;
  color: white;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
  border-radius: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  min-height: 60px !important;
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
  border: none;
  transition: 250ms;
  border: 2px solid $base-green;
  &:hover,
  &:active,
  &:focus {
    -webkit-box-shadow: 10px 8px 19px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 8px 19px -3px rgba(0, 0, 0, 0.4);
    color: $base-green;
    border: 2px solid $base-green;
    background-color: white;
  }
}

.button-program {
  background-color: inherit;
  margin-top: 0.5rem;
  border: none;
}
.button-newsletter {
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
  background-color: $base-green;
  border: 2px solid $base-green;
  color: white;
  font-weight: 500 !important;
  border-radius: 15px;
  font-size: 1.5rem !important;
  padding: 0.5rem;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: 250ms;
  &:hover,
  &:active,
  &:focus {
    -webkit-box-shadow: 10px 8px 19px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 8px 19px -3px rgba(0, 0, 0, 0.4);
    color: $base-green;
    border: 2px solid $base-green;
    background-color: white;
  }
}

a {
  text-decoration: none !important;
}
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

$bg: #f3f8fa;
$white: #fff;
$black: $base-green;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.button-arrow-animation {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover,
  &:active {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}

@supports (display: grid) {
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 1628px) {
  .button-oferts {
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media only screen and (max-width: 1240px) {
  .text-post-button-green {
    width: 30%;
  }
  .button-categoryB {
    width: 80%;
  }
  .button-category {
    width: 80%;
  }
  .button-oferts {
    padding: 0 !important;
    width: 100% !important;
  }
  .ofert-container {
    padding: 1rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .text-title-button-green {
    width: 60%;
    min-width: 200px;
    padding: 5px 10px;
  }
  .text-post-button-green {
    width: 60%;
  }
  .button-newsletter {
    width: 80%;
  }
}
