.view-container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/pexels-fauxels-3184317.jpg);
  background-size: cover;
  height: 70vh;
  min-height: 400px;
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: center;
  margin: auto;
}
.view-detail-container {
  width: 60%;
  margin-left: 6rem;
}

@media only screen and (max-width: 1020px) {
  .view-detail-container {
    width: 80%;
    word-break: break-word;
    margin: auto;
    text-align: center;
    .text-title-text {
      margin-top: 4rem !important;
      font-size: 2.5rem !important;
    }
  }
  .view-container {
    height: 60vh;
    min-width: 300px;
  }
}

@media only screen and (max-width: 1020px) {
  .view-detail-container {
    width: 80%;
    word-break: break-word;
    margin: auto;
    text-align: center;
    .text-title-text {
      margin-top: 4rem !important;
      font-size: 2.5rem !important;
    }
  }
  .view-container {
    height: 60vh;
    min-width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .view-detail-container {
    width: 90%;
    margin: auto;
    .text-title-text {
      font-size: 2rem !important;
    }
  }
  .view-container {
    min-width: 300px;
    margin: auto;
    justify-content: center;
  }
}
