.harmonogram-upper-container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/teach.jpeg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 60vh;
  min-height: 600px;
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  align-items: left;
  margin: auto;
  flex-direction: column;
  gap: 2rem;
}

.harmonogram-title-container {
  width: 40%;
  margin-left: 4rem;
}
.harmonogram-search-container {
  margin-left: 4rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  input {
    width: 60%;
    padding: 1rem;
    border-radius: 25px;
    font-size: 1.5rem;
    background-color: inherit;
    border: 2px solid rgb(255, 255, 255, 0.6);
    color: white;
    &:active {
      border: 2px solid white;
    }
    &:focus {
      outline: none !important;
      border: 2px solid white;
    }
  }
}

.shadow {
  box-shadow: clear;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
  width: 20%;
  min-height: 50px;
}

.harmonogram-bottom-container {
  margin-top: 4rem;
}

.harmonogram-oferts-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90%;
  margin: auto;
}

.harmonogram-sorts-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.harmonogram-sorting {
  button {
    margin: 0.5rem;
    border: none;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    background-color: inherit;
    color: #2f512a;
    border: 2px solid #2f512a;
    &:hover,
    &:active,
    &:focus {
      border: 2px solid inherit;
      background-color: #2f512a;
      color: white;
      transition: 0.4s;
    }
  }
}

.hide-element {
  display: none;
}

.harmonogram-no-offerts-container {
  display: none;
  width: 80%;
  margin: auto;
  border: 1px solid #707070;
  box-shadow: 5px 5px 10px #b1a7a7;
  border: 2px solid #2f512a;
  border-radius: 15px;
  min-height: 100px;
}
.harmonogram-communicate-container {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  h5 {
    margin: 2rem;
  }
}

@media only screen and (max-width: 1210px) {
  .harmonogram-title-container {
    width: 60%;
    margin-left: 2rem;
    margin-top: 4rem;
  }
  .harmonogram-search-container {
    input {
      width: 60%;
    }
  }
  .harmonogram-upper-container {
    min-height: 400px;
  }
  .harmonogram-search-container {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 1040px) {
  .harmonogram-search-container {
    input {
      width: 80%;
    }
  }
  .text-title-text {
    font-size: 4rem !important;
  }
}
@media only screen and (max-width: 990px) {
  .harmonogram-search-container {
    margin-left: auto;
    margin-right: auto;
    input {
      margin: auto;
    }
  }
  .harmonogram-title-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .harmonogram-sorts-container {
    flex-direction: column;
  }
  .harmonogram-current-courses {
    text-align: center;
  }
  .harmonogram-sorting {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    margin-bottom: 1rem;
  }
  .oferts-container {
    display: flex;
  }
  .restriction {
    h3 {
      margin: auto;
    }
  }
  .harmonogram-title-container {
    width: 80%;
  }
  .harmonogram-search-container {
    input {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 680px) {
  .text-title-text {
    font-size: 3rem !important;
  }
}
@media only screen and (max-width: 430px) {
  .harmonogram-upper-container {
    min-height: auto;
    gap: 0rem;
  }
  .harmonogram-title-container {
    width: 90%;
  }
  .text-title-text {
    font-size: 2.5rem !important;
  }
  .harmonogram-search-container {
    width: 90%;
    input {
      width: 100%;
    }
  }
  .harmonogram-upper-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../assets/images/teach.jpeg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
}
